services:
  animesub:
    image: ghcr.io/hhlyyng/animesub:latest
    restart: unless-stopped
    ports:
      - "5072:5072"    # <-- change left port to your preferred host port
    volumes:
      - ./config:/app/data
    environment:
      - DATA_DIR=/app/data
      - ASPNETCORE_ENVIRONMENT=Production
